mixin ourDrinks
  ul(class='drinks-list')
    li(class=logo) 
      a Coffe
    li 
      a tea
    li 
      a naskafe
    li 
      a lemone
    li 
      a strubary #{logo}

  mixin featurs(feat)
    div= feat